body {
    font-family: "Fraunces", serif;
    background: #000; color:#F3F1E8
}
h1 {font-size: 5VW;    margin-block-start: 0;    line-height: 1;
    margin-block-end: 0.67em;}

model-viewer {
    width: 100vw; /* 100% of the viewport width */
    height: 80vh; /* 100% of the viewport height */
}

/* Add to style.css */
.slideshow-container {
    position: relative;
    margin: auto;
  }
  
  .mySlides {
    display: none;
  }
  .modal-content {
    display: grid;
    grid-template-columns: 2fr 1fr; 
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .next {
    right: 0;
    border-radius: 0 3px 3px 0;
  }
  

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #F3F1E8;
    font-size: 24px; /* Adjust icon size here */
    user-select: none;    TEXT-DECORATION: NONE;

  }
  
  .material-icons {
    font-size: 24px; /* Icon size */
    color:#F3F1E8; /* Icon color */
  }
  

  .caption {
    color: #F3F1E8;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* The button */
#myBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 99;
    padding: 10px;
    font-size: 16px;
    color: #F3F1E8;
    border: none;background-color: #000;
    cursor: pointer;
  }
  .bio-text{text-align: justify;}
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

  }
.bio-title{margin-top: 2rem;margin-bottom: 2em;margin-block-end: 0;}

  .bio img {
    width: 100%; /* Makes images responsive */
    height: auto;
    filter: grayscale(100%);    object-fit: cover;
    transition: filter 0.5s ease;   aspect-ratio: 3 / 4;
  }
  
  .bio img:hover {
    filter: none; /* Removes the filter on hover, showing the image in full color */
  }
  
  a{color: #F3F1E8; text-decoration: underline;}
  /* Modal Content */
  .modal-content {
    background-color: black;
    padding: 20px;
    font-size: calc(1.5rem + 1.5vw);
}
  .plus-icon {
    display: inline-block;
    transition: transform 0.5s ease;
  }
  
  /* When plus icon is "active" or the content is shown, rotate it by 45 degrees */
  .plus-icon.active {
    transform: rotate(45deg);
  }
  
  /* The Close Button */
  .close {
    color: #F3F1E8;
    float: right;

    POSITION: fixed;
    right: 20px;
    cursor: pointer;
  }

  .bio {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates a two-column grid */
    gap: 20px; /* Space between grid items */
    margin-top: 20px; /* Space above the bio section */
  }
  
  .bio img {
    width: 100%; /* Makes images responsive */
    height: auto;
  }
  
  .read-more-content {
    display: none;
    margin-top: 10px;
  }
  
  /* Style for the Read More link */
  .read-more-link {
    cursor: pointer;
    color: #F3F1E8;
    text-decoration: underline;
  }

  @media only screen and (min-width: 768px) {
    .modal-content, .bio {
        grid-template-columns:  1fr; 
      }
      

  }