body {
    font-family: 'Ojuju', sans-serif;
    background: black; color:#fff
}
hi {font-size: large;}

model-viewer {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}

.container {
    max-width: 640px; /* Adjust based on the size of your models */
    margin: auto;
    position: relative;
    text-align: center;
}
